.lady-with-megaphone {
    position: fixed;
    top : 0;
    right: 0;
    width: 60%;
    height: 100%;
}

.form-signin {
    position: absolute;
    max-width: 400px;
    padding: 1rem;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-webkit-clear-button {
  display: none;
}